@charset "utf-8";
	.NormalCharacterStyle95
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 24px;
	color : #34121B;
	color : rgb(52, 18, 27);
}
.NormalCharacterStyle94
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #34121B;
	color : rgb(52, 18, 27);
}
.NormalCharacterStyle93
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle92
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 18px;
	color : #9F2221;
	color : rgb(159, 34, 33);
}
.NormalCharacterStyle91
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #9F2221;
	color : rgb(159, 34, 33);
}
.NormalCharacterStyle90
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 14px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle89
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #D6A176;
	color : rgb(214, 161, 118);
}
.NormalCharacterStyle88
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #34121B;
	color : rgb(52, 18, 27);
}
.NormalCharacterStyle87
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #34121B;
	color : rgb(52, 18, 27);
}
.NormalCharacterStyle86
{
	font-family : Myriad Pro;
	font-size : 60px;
	line-height : 11px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle85
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle84
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle83
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle82
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle81
{
	font-family : Myriad Pro;
	font-size : 72px;
	line-height : 11px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle80
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #34121B;
	color : rgb(52, 18, 27);
}
.NormalCharacterStyle79
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #34121B;
	color : rgb(52, 18, 27);
}
.NormalCharacterStyle78
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle77
{
	font-family : Myriad Pro;
	font-size : 72px;
	line-height : 11px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle76
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle75
{
	font-family : Myriad Pro;
	font-size : 54px;
	line-height : 9.05px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle74
{
	font-family : Myriad Pro;
	font-size : 33px;
	line-height : 5.53px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle73
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle72
{
	font-family : Myriad Pro;
	font-size : 14px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle71
{
	font-family : Myriad Pro;
	font-size : 8px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle70
{
	font-family : Myriad Pro;
	font-size : 8px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle69
{
	font-family : Myriad Pro;
	font-size : 8px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle68
{
	font-family : Myriad Pro;
	font-size : 8px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle67
{
	font-family : Myriad Pro;
	font-size : 8px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle66
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle65
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle64
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle63
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle62
{
	font-family : Myriad Pro;
	font-size : 17px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle61
{
	font-family : Myriad Pro;
	font-size : 17px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle60
{
	font-family : Myriad Pro;
	font-size : 17px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle59
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle58
{
	font-family : Myriad Pro;
	font-size : 60px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle57
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle56
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle55
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle54
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle53
{
	font-family : Myriad Pro;
	font-size : 14px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle52
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle51
{
	font-family : Myriad Pro;
	font-size : 33px;
	line-height : 5.53px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle50
{
	font-family : Myriad Pro;
	font-size : 33px;
	line-height : 5.53px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle49
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 36px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle48
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle47
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle46
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 24px;
	color : #34121B;
	color : rgb(52, 18, 27);
}
.NormalCharacterStyle45
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #34121B;
	color : rgb(52, 18, 27);
}
.NormalCharacterStyle44
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle43
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 18px;
	color : #9F2221;
	color : rgb(159, 34, 33);
}
.NormalCharacterStyle42
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #9F2221;
	color : rgb(159, 34, 33);
}
.NormalCharacterStyle41
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 14px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle40
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #D6A176;
	color : rgb(214, 161, 118);
}
.NormalCharacterStyle39
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #34121B;
	color : rgb(52, 18, 27);
}
.NormalCharacterStyle38
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #34121B;
	color : rgb(52, 18, 27);
}
.NormalCharacterStyle37
{
	font-family : Myriad Pro;
	font-size : 60px;
	line-height : 11px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle36
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle35
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle34
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle33
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle32
{
	font-family : Myriad Pro;
	font-size : 72px;
	line-height : 11px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle31
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #34121B;
	color : rgb(52, 18, 27);
}
.NormalCharacterStyle30
{
	font-family : Lucida Calligraphy;
	font-style : italic;
	font-size : 21px;
	color : #34121B;
	color : rgb(52, 18, 27);
}
.NormalCharacterStyle29
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle28
{
	font-family : Myriad Pro;
	font-size : 72px;
	line-height : 11px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle27
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle26
{
	font-family : Myriad Pro;
	font-size : 54px;
	line-height : 9.05px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle25
{
	font-family : Myriad Pro;
	font-size : 33px;
	line-height : 5.53px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle24
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle23
{
	font-family : Myriad Pro;
	font-size : 8px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle22
{
	font-family : Myriad Pro;
	font-size : 8px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle21
{
	font-family : Myriad Pro;
	font-size : 8px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle20
{
	font-family : Myriad Pro;
	font-size : 8px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle19
{
	font-family : Myriad Pro;
	font-size : 8px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle18
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle17
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle16
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle15
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle14
{
	font-family : Myriad Pro;
	font-size : 17px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle13
{
	font-family : Myriad Pro;
	font-size : 17px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle12
{
	font-family : Myriad Pro;
	font-size : 17px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle11
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle10
{
	font-family : Myriad Pro;
	font-size : 60px;
	line-height : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle9
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle8
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle7
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle6
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle5
{
	font-family : Myriad Pro;
	font-size : 14px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle4
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle3
{
	font-family : Myriad Pro;
	font-size : 33px;
	line-height : 5.53px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle2
{
	font-family : Myriad Pro;
	font-size : 33px;
	line-height : 5.53px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
.NormalCharacterStyle
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #7F785B;
	color : rgb(127, 120, 91);
}
